.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(6, 100px);
}

.card {
  transform: rotate3d(0);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid black;
  transition: transform 0.3s linear 0.2s;
}

.number {
  font-size: 2rem;
}
